<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pagina de ejemplo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src='main.js'></script>
    
</head>
<body>
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <!--- aqui voy a poner texto-->
                    <h1>Bienvenido al index del 8D</h1>
                    <br>
                    <p>estamos en cc7</p>
                </div>
                <div class="col-6">
                    <!-- aqui voy a poner texto-->
                     <img class="img-fluid" src="https://media.gettyimages.com/id/98887528/es/foto/monterrey-mexico-wrestling-fighter-the-big-show-greets-the-public-during-the-wwe-raw-wrestling.jpg?s=612x612&w=gi&k=20&c=6UGIASGBixs-lK9H9O6jCvtsc9swcqTIkystbt5AtNw=">

                </div>
            </div>
        </div>
    </div>
    
</body>
</html>